fastapi==0.136.1
uvicorn==0.46.0
pydantic==2.13.4
requests==2.33.1
PyYAML==6.0.3
colorlog==6.10.1
aiohttp==3.13.5
psutil==7.2.2
pycryptodomex==3.23.0
numpy==2.4.4
pillow==12.2.0
deffcode==0.2.7
decord==0.6.0 ; (platform_system == "Linux" and platform_machine == "x86_64") or (platform_system == "Windows" and platform_machine == "AMD64")
